.summer-looks {
    color: #0076D3;
}

.children-activities {
    color: #618C7B;
}

.special-dinner {
    color: #C28B00;
}

.do-it-projects {
    color: #407A57;
}

.item.one {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/38/0a/bd/380abd03b1010a8da6e1c10ce7337cfe.jpg') no-repeat;
}

.item.two {
    background-size: 346px;
    background: url('https://i.pinimg.com/236x/64/9b/78/649b781a1e249fa2593e09be7d0cf397.jpg') no-repeat;
}

.item.three {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/54/fd/79/54fd792c1e162dc152513d2e828d1978.jpg') no-repeat;
}

.item.four {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/f4/75/58/f47558247663503bdf67fb1fb3e8c63c.jpg') no-repeat;
}

.item.five {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/16/41/b0/1641b00589766dbe2aa68b85506d1d00.jpg') no-repeat;
}

.item.six {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/ee/0d/35/ee0d350298ca4240d85ca23ec3b9ca9b.jpg') no-repeat;
}

.item.seven {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/cb/ef/a5/cbefa5b526c5df3b0212fc85afab4282.jpg') no-repeat;
}

.item.eight {
    background-size: 354px;
    height:354px;
    background: url('https://i.pinimg.com/236x/e4/fc/f0/e4fcf018151b550518eadd00dda402b2.jpg') no-repeat;
}

.item.nine {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/8e/70/c8/8e70c81bf5d8b720094157b0d8234471.jpg') no-repeat;
}

.item.ten {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/47/c5/8d/47c58d3c6f27ea6696fe39ea1576f523.jpg') no-repeat;
}

.item.eleven {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/43/0c/73/430c73af9790e22fc02a5988e131c5c2.jpg') no-repeat;
}

.item.twelve {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/c8/ef/aa/c8efaa3dac854f8fadcbe92ad346d9d2.jpg') no-repeat;
}

.item.thirteen {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/28/54/3b/28543b11422413942d5472e9e7e006fd.jpg') no-repeat;
}

.item.fourteen {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/67/fc/c9/67fcc9332c0219af9bfabed9cb7ae617.jpg') no-repeat;
}

.item.fifteen {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/8b/0c/4b/8b0c4b31aefe226cc5923a26aaba5700.jpg') no-repeat;
}

.item.sixteen {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/ab/96/1c/ab961c172a76863d695ca6f7ec3cd5c0.jpg') no-repeat;
}

.item.seventeen {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/bf/8a/f6/bf8af65a7f0e4f4d4f159b52b24c7389.jpg') no-repeat;
}

.item.eighteen {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/55/77/95/557795591cf518afa6caf7a091c0efb2.jpg') no-repeat;
}

.item.nineteen {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/cc/43/45/cc4345a2439b94914e1642efc43663ac.jpg') no-repeat;
}

.item.twenty {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/a2/a6/f1/a2a6f1f9904b74144607d6ab070407ce.jpg') no-repeat;
}

.item.twenty-one {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/ac/13/9f/ac139f3b629596ab97ecf5e4d89eedf6.jpg') no-repeat;
}

.item.twenty-two {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/6d/d8/07/6dd807a4e9cf8043bb4dcb088074ce82.jpg') no-repeat;
}

.item.twenty-three {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/df/05/30/df05300c702407f83e2d06e9442db67c.jpg') no-repeat;
}

.item.twenty-four {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/31/80/e4/3180e49598c68bf0de9b4ecfc2c520f1.jpg') no-repeat;
}

.item.twenty-five {
    background-size: 353px;
    background: url('https://i.pinimg.com/236x/af/4e/56/af4e56817a907395b333c5a450b13971.jpg') no-repeat;
}

.item.twenty-six {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/3e/50/51/3e50518b141922349bd8e8433309efb6.jpg') no-repeat;
}

.item.twenty-seven {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/1c/ec/f0/1cecf088786aefed0c4844aff234abd2.jpg') no-repeat;
}

.item.twenty-eight {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/b4/9c/bb/b49cbb4b48ac390ac1638d33122af834.jpg') no-repeat;
}

.item.twenty-nine {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/df/a7/64/dfa764f26f340e7c3b87ba3d1179dae6.jpg') no-repeat;
}

.item.thirty {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/70/0b/64/700b64bc20ce59ff7988776d129f022e.jpg')no-repeat;
}

.item.thirty-one {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/aa/d5/a8/aad5a818ec43fc25cc4fe91557ab5a63.jpg') no-repeat;
}

.item.thirty-two {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/e5/49/5b/e5495b9f52012be68f18be3a439c659e.jpg') no-repeat;
}

.item.thirty-three {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/00/82/f3/0082f3b7e586cd9b1a81c2c2e5278410.jpg') no-repeat;
}

.item.thirty-four {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/f9/46/57/f946572b7766005eb9f79f79ce910632.jpg') no-repeat;
}

.item.thirty-five {
    background-size: 354px;
    background: url('https://i.pinimg.com/236x/6a/05/e4/6a05e4abc18e0831166684b0daea9908.jpg') no-repeat;
}

//2ยบ Grid

.item.thirty-six {
    background: url('https://i.pinimg.com/236x/36/30/33/363033d58f7c4c0293bd695b447bde5c.jpg');
}

.item.thirty-seven {
    background: url('https://i.pinimg.com/236x/06/36/cf/0636cf0644bee3d5137b449160502294.jpg');
}

.item.thirty-eight {
    background: url('https://i.pinimg.com/236x/25/6d/5d/256d5d00403fed631a143c8dab13a2b0.jpg');
}

.item.thirty-nine {
    background: url('https://i.pinimg.com/236x/eb/2e/50/eb2e50c526a31450a908a8fccb35da77.jpg');
}

.item.fourty {
    background: url('https://i.pinimg.com/236x/d7/82/a4/d782a48fc3f2f4d97ac930e5ce5d4545.jpg');
}

.item.fourty-one {
    background: url('https://i.pinimg.com/236x/5b/f2/70/5bf27042fb21918ff59060215761b9c0.jpg');
}

.item.fourty-two {
    background: url('https://i.pinimg.com/236x/9c/da/1c/9cda1cbf3d6b63105aa78a840f65472a.jpg');
}

.item.fourty-three {
    background: url('https://i.pinimg.com/236x/3c/fd/8f/3cfd8f3f4750c48122560aa8f120a1b9.jpg');
}

.item.fourty-four {
    background: url('https://i.pinimg.com/236x/47/1e/a2/471ea2d93fbbc1be84a0e3907484c439.jpg');
}

.item.fourty-five {
    background: url('https://i.pinimg.com/236x/6f/12/70/6f1270a68978539e6895d74e66ade462.jpg');
}

.item.fourty-six {
    background: url('https://i.pinimg.com/236x/f3/de/c9/f3dec9985c4dfbe14a5e057982a1b692.jpg');
}

.item.fourty-seven {
    background: url('https://i.pinimg.com/236x/8a/72/81/8a7281638f147134b5f58c9eb8dc56ce.jpg');
}

.item.fourty-eight {
    background: url('https://i.pinimg.com/236x/ac/99/32/ac99328b3532d20938e4264adc34f43c.jpg');
}

.item.fourty-nine {
    background: url('https://i.pinimg.com/236x/50/6f/c7/506fc707043ab4d4db59f85b2a5fd0d1.jpg');
}

.item.fifty {
    background: url('https://i.pinimg.com/236x/f9/ea/b2/f9eab2f69cc79175266f8f983e79627a.jpg');
}

.item.fifty-one {
    background: url('https://i.pinimg.com/236x/2b/0e/bd/2b0ebd7d0fab6d74a9ac181c6a8cbaaa.jpg');
}

.item.fifty-two {
    background: url('https://i.pinimg.com/236x/04/a6/eb/04a6eb4b1b68a2c3cba67db30292d85a.jpg');
}

.item.fifty-three {
    background: url('https://i.pinimg.com/236x/1e/f6/98/1ef6982388e8230f15fb4ab0de9fb63b.jpg');
}

.item.fifty-four {
    background: url('https://i.pinimg.com/236x/c8/43/d7/c843d746f27769bb9cc4963a131f94f4.jpg');
}

.item.fifty-five {
    background: url('https://i.pinimg.com/236x/42/fd/cd/42fdcd580bec653c7ecfb1daa099174b.jpg');
}

.item.fifty-six {
    background: url('https://i.pinimg.com/236x/3b/af/04/3baf04c2afd9e4ef6a9727e626b7af5d.jpg');
}

.item.fifty-seven {
    background: url('https://i.pinimg.com/236x/df/1e/64/df1e644ec7cc148fb982b9936a0b1e9b.jpg');
}

.item.fifty-eight {
    background: url('https://i.pinimg.com/236x/85/83/05/8583057bdf8a06f2d3184c8908fa9542.jpg');
}

.item.fifty-nine {
    background: url('https://i.pinimg.com/236x/1c/9a/0e/1c9a0e6f536e9f9988191a7c7fd39897.jpg');
}

.item.sixty {
    background: url('https://i.pinimg.com/550x/6c/ed/1e/6ced1e2084535c6aa2756bd721235a6b.jpg');
}

.item.sixty-one {
    background: url('https://i.pinimg.com/236x/86/78/b5/8678b56a867352c458c54a036d9ad32c.jpg');
}

.item.sixty-two {
    background: url('https://i.pinimg.com/236x/0a/cc/a5/0acca5c799c8bfd86fc116558f7b87f6.jpg');
}

.item.sixty-three {
    background: url('https://i.pinimg.com/236x/7b/4d/32/7b4d322e687b6daf6ab83599f2e2018f.jpg');
}

.item.sixty-four {
    background: url('https://i.pinimg.com/236x/cc/f2/82/ccf2823ed0bca55f5940018c56a399cd.jpg');
}

.item.sixty-five {
    background: url('https://i.pinimg.com/236x/0d/4e/e5/0d4ee5a528622de2f6f6a5f8bc35e222.jpg');
}

.item.sixty-six {
    background: url('https://i.pinimg.com/236x/a7/dd/6b/a7dd6bd9d70149f91cd5f6c994170b95.jpg');
}

.item.sixty-seven {
    background: url('https://i.pinimg.com/236x/ec/05/f9/ec05f9de456385f75c6a4adf50866353.jpg');
}

.item.sixty-eight {
    background: url('https://i.pinimg.com/236x/39/b2/8e/39b28e87eb2fa45d968296caeb9d7136.jpg');
}

.item.sixty-nine {
    background: url('https://i.pinimg.com/236x/23/c0/b3/23c0b3eea48617655624d712707483bc.jpg');
}

.item.seventy {
    background: url('https://i.pinimg.com/236x/45/4b/6a/454b6a2dea9fb6d475044fd83e99e7b8.jpg');
}

.item.seventy-one {
    background: url('https://i.pinimg.com/236x/82/68/bb/8268bbebf05fe11a9d5821a40c851caf.jpg');
}

.item.seventy-two {
    background: url('https://i.pinimg.com/236x/6a/b3/e8/6ab3e82ec375d04ee02c0f3db7439c51.jpg');
}

.item.seventy-three {
    background: url('https://i.pinimg.com/236x/eb/5c/d5/eb5cd56daf37618270c68526610a10f3.jpg');
}

.item.seventy-four {
    background: url('https://i.pinimg.com/236x/69/85/22/698522c02314935cadc6f196f30294bf.jpg');
}

.item.seventy-five {
    background: url('https://i.pinimg.com/236x/a0/65/ef/a065ef80df15e9a3c3b581b653ff986e.jpg');
}

.item.seventy-six {
    background: url('https://i.pinimg.com/236x/7e/62/37/7e623746fe2a6f83c10fef10dc01cc49.jpg');
}

.item.seventy-seven {
    background: url('https://i.pinimg.com/236x/75/02/48/75024866360281ea4715bf32b70bc043.jpg');
}

.item.seventy-eight {
    background: url('https://i.pinimg.com/236x/71/96/13/7196139cb8a3e40e63aa8c0c1db3517e.jpg');
}

.item.seventy-nine {
    background: url('https://i.pinimg.com/236x/65/91/f5/6591f58e546f5cab15865dfb11554426.jpg');
}

.item.eighty {
    background: url('https://i.pinimg.com/236x/5b/d4/21/5bd421122e1cbeec1b1900fe713d50c1.jpg');
}

.item.eighty-one {
    background: url('https://i.pinimg.com/236x/d5/66/32/d5663289af56087a2d65730cad2993fc.jpg');
}

.item.eighty-two {
    background: url('https://i.pinimg.com/236x/f9/7a/47/f97a47826e6065c7224962c137492a30.jpg');
}

.item.eighty-three {
    background: url('https://i.pinimg.com/236x/de/58/ca/de58ca59f533ee3418494ecca3e658e4.jpg');
}

.item.eighty-four {
    background: url('https://i.pinimg.com/236x/ff/c4/6a/ffc46a53ddbf6bc9ad00c60f798cdbff.jpg');
}

.item.eighty-five {
    background: url('https://i.pinimg.com/236x/08/46/7e/08467e1fd9c85609cc2fd6d2f650e4d4.jpg');
}

.item.eighty-six {
    background: url('https://i.pinimg.com/236x/67/e2/69/67e269c11b33da9460304c6408b38580.jpg');
}

.item.eighty-seven {
    background: url('https://i.pinimg.com/236x/97/9b/ee/979bee5952a5e9c055db1c31e76664d8.jpg');
}

.item.eighty-eight {
    background: url('https://i.pinimg.com/236x/e1/5e/5a/e15e5a653cf06e0467fbb38301eda1d7.jpg');
}

.item.eighty-nine {
    background: url('https://i.pinimg.com/236x/96/22/f4/9622f458307d2ed56ba2f5f716ab05da.jpg');
}

.item.ninety {
    background: url('https://i.pinimg.com/236x/68/0f/73/680f73a27139ed8802ed1dca6edd9721.jpg');
}

.item.ninety-one {
    background: url('https://i.pinimg.com/236x/7b/7d/94/7b7d94e0076cc0b80e0e5dde919ab362.jpg');
}

.item.ninety-two {
    background: url('https://i.pinimg.com/236x/32/98/7d/32987d12ce3ae4863d938f8b23d81399.jpg');
}

.item.ninety-three {
    background: url('https://i.pinimg.com/236x/ef/13/8a/ef138a8522e33f119f7a27edbaeccf9b.jpg');
}

.item.ninety-four {
    background: url('https://i.pinimg.com/236x/9e/db/f8/9edbf894094a35e950d8c7c78d107c6e.jpg');
}

.item.ninety-five {
    background: url('https://i.pinimg.com/236x/03/7d/2c/037d2c4f4a099ff8b0ee9a076755726c.jpg');
}

.item.ninety-six {
    background: url('https://i.pinimg.com/236x/93/41/de/9341de54014eacf6fa89197c48b6ec19.jpg');
}

.item.ninety-seven {
    background: url('https://i.pinimg.com/236x/fd/ea/f1/fdeaf182e529cec915165d6185b55267.jpg');
}

.item.ninety-eight {
    background: url('https://i.pinimg.com/236x/03/8f/f0/038ff0e8e943a3a5d16856e33b4e063e.jpg');
}

.item.ninety-nine {
    background: url('https://i.pinimg.com/236x/6e/17/35/6e1735dbd6910bafd0171d5a22636e18.jpg');
}

.item.hundred {
    background: url('https://i.pinimg.com/236x/eb/45/77/eb45773b51c38ae3668945ce58bb0f34.jpg');
}

.item.hundred-one {
    background: url('https://i.pinimg.com/236x/01/6b/d2/016bd2039f4a002d4b6ec40da294642b.jpg');
}

.item.hundred-two {
    background: url('https://i.pinimg.com/236x/e1/c6/82/e1c682371dc86d3c8a85f3fcfdc990f2.jpg');
}

.item.hundred-three {
    background: url('https://i.pinimg.com/236x/1e/66/e4/1e66e499b59fc665c45c671413e3a7db.jpg');
}

.item.hundred-four {
    background: url('https://i.pinimg.com/236x/65/0b/28/650b286d1ca86f88d9dd2a296ed5266a.jpg');
}

.item.hundred-five {
    background: url('https://i.pinimg.com/236x/91/99/08/9199080204f823aeac8aae6f93a0a0c4.jpg');
}

//4ยบ Grid
.item.hundred-six {
    background: url('https://i.pinimg.com/236x/4d/d2/96/4dd296c3d6dc3d962f71f8ac451ff9fd.jpg');
}

.item.hundred-seven {
    background: url('https://i.pinimg.com/236x/14/f2/44/14f24459f69be21ac32e15811e8c7b29.jpg');
}

.item.hundred-eight {
    background: url('https://i.pinimg.com/236x/04/0e/e0/040ee0b95cd11dc9c4da752f8f6ec81d.jpg');
}

.item.hundred-nine {
    background: url('https://i.pinimg.com/236x/35/e0/23/35e023492a3ccef88eac4129cfa48d85.jpg');
}

.item.hundred-ten {
    background: url('https://i.pinimg.com/236x/8e/da/30/8eda30223fa21af37c16fe4ce46423f8.jpg');
}

.item.hundred-eleven {
    background: url('https://i.pinimg.com/236x/95/7e/56/957e5625de34b91f94c46ebf31ccdf2e.jpg');
}

.item.hundred-twelve {
    background: url('https://i.pinimg.com/236x/09/19/15/09191547082668236d51b99b7975e43c.jpg');
}

.item.hundred-thirteen {
    background: url('https://i.pinimg.com/236x/54/c6/0e/54c60ed0a14e5ca3189ad42fe671563c.jpg');
}

.item.hundred-fourteen {
    background: url('https://i.pinimg.com/236x/b0/7d/a0/b07da092164b3aa46f4784dd16d463a8.jpg');
}

.item.hundred-fifteen {
    background: url('https://i.pinimg.com/236x/6e/57/25/6e572515d156fd662e34cca9d4b0c664.jpg');
}

.item.hundred-sixteen {
    background: url('https://i.pinimg.com/236x/0f/68/54/0f68541af07f0ac9a0de6ae7f0b66efa.jpg');
}

.item.hundred-seventeen {
    background: url('https://i.pinimg.com/236x/e3/9f/34/e39f34b9fb0dcba2d130761f3cdfa9ea.jpg');
}

.item.hundred-eighteen {
    background: url('https://i.pinimg.com/236x/71/61/14/716114c68f7bedf7868772a4edc05e89.jpg');
}

.item.hundred-nineteen {
    background: url('https://i.pinimg.com/236x/b1/75/69/b17569377d2d744b6e3faa93386356d5.jpg');
}

.item.hundred-twenty {
    background: url('https://i.pinimg.com/236x/a2/4b/fd/a24bfd7373e4ea18781dcba45b3411d8.jpg');
}

.item.hundred-twenty-one {
    background: url('https://i.pinimg.com/236x/00/44/55/004455e5aab907cc91e97821bc6f92bc.jpg');
}

.item.hundred-twenty-two {
    background: url('https://i.pinimg.com/236x/93/0e/4d/930e4dd7e2f92c8b0ce93419cb100c5b.jpg');
}

.item.hundred-twenty-three {
    background: url('https://i.pinimg.com/236x/1b/fc/fe/1bfcfe130459ab4774ba1c10732ab0fd.jpg');
}

.item.hundred-twenty-four {
    background: url('https://i.pinimg.com/236x/9b/c6/1d/9bc61d93f720a2ba79b617329f83c01c.jpg');
}

.item.hundred-twenty-five {
    background: url('https://i.pinimg.com/236x/af/22/65/af22650a8ace65fe883b04672fb263e0.jpg');
}

.item.hundred-twenty-six {
    background: url('https://i.pinimg.com/236x/8c/c3/ac/8cc3ac3962449b85f1c120c0850f05c2.jpg');
}

.item.hundred-twenty-seven {
    background: url('https://i.pinimg.com/236x/27/10/2f/27102f95e40743e543cf0e7eb5f0fc7d.jpg');
}

.item.hundred-twenty-eight {
    background: url('https://i.pinimg.com/236x/b9/74/68/b974687dcf1b85dc9831be56dc4bdc0b.jpg');
}

.item.hundred-twenty-nine {
    background: url('https://i.pinimg.com/236x/68/fb/89/68fb8992db27985c69cbc0f778171310.jpg');
}

.item.hundred-thirty {
    background: url('https://i.pinimg.com/236x/93/62/4d/93624dfbd986b5076e5a22d1402bd714.jpg');
}

.item.hundred-thirty-one  {
    background: url('https://i.pinimg.com/236x/d2/5e/98/d25e9841a7d4db740a6c6157915c58bd.jpg');
}

.item.hundred-thirty-two  {
    background: url('https://i.pinimg.com/236x/01/07/0c/01070cd9bb5460654ffddfd6ad3cc0c1.jpg');
}

.item.hundred-thirty-three  {
    background: url('https://i.pinimg.com/236x/ee/87/af/ee87af2d566ff93be7bcd272e7fa15c8.jpg');
}

.item.hundred-thirty-four {
    background: url('https://i.pinimg.com/236x/34/e5/1a/34e51ae4c7f806b02b6805c2ee6c477d.jpg');
}

.item.hundred-thirty-five {
    background: url('https://i.pinimg.com/236x/02/57/42/0257424c21332ae7616f448f91e96e06.jpg');
}

.item.hundred-thirty-six {
    background: url('https://i.pinimg.com/236x/ff/1f/e6/ff1fe64b8ee938e964119d8397341281.jpg');
}

.item.hundred-thirty-seven {
    background: url('https://i.pinimg.com/236x/93/ae/79/93ae7989bdefdf2ebdc44ba489721286.jpg');
}

.item.hundred-thirty-eight {
    background: url('https://i.pinimg.com/236x/4f/9d/83/4f9d83b63bf4a24a6bfca50f6cb6f6df.jpg');
}

.item.hundred-thirty-nine {
    background: url('https://i.pinimg.com/236x/4c/d8/34/4cd834b757149273b2d5e0d10bc6d203.jpg');
}

.item.hundred-fourty {
    background: url('https://i.pinimg.com/236x/33/1f/91/331f915d243cd03740ac74f2c167e97c.jpg');
}